body {
    padding: 5px;
}
code {
    padding: 0 5px;
    border: 1px solid #EADFDF;
    background-color: #F8F6F6;
    border-radius: 3px;
}
.content {
    max-width: 570px;
    line-height: 1.7em;
}
.blog-list li {
    line-height: 1.7em;
}
.time {
    display: inline-block;
    float: right;
}
